body{
    background-color: beige;
    text-align: center;
}
.task{
    font-size: 50px;
    font-weight: bold;
}
.homepageicon{
    margin-top:40px;
    color: blue;
    font-size:large;
}
.image{
    width:380px;
    height: 420px;
    object-fit: cover;
    display:flex;
    align-content: center;
    margin-left:190px
}
img{
    margin: 5px;
    width:380px;
    height: 420px;
   
}